*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html{
  font-size: calc(0.75vh + 0.75vw);
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  display: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
